Binaries/
Intermediate/
.vs/
*.sln
*.suo
*.db
*.opendb
DerivedDataCache/
Saved/
Resources/MLScripts/.venv/
__pycache__/
*.pyc
.idea/
*.swp
Resources/MLScripts/__pycache__/
Resources/MLScripts/pca_compressor/__pycache__/
Resources/MLScripts/TestOutput/
Resources/MLScripts/test_output/
Resources/MLScripts/*.bin
Resources/MLScripts/*.json
