# Unreal Engine Plugin Ignore Rules
Binaries/
Intermediate/
.vs/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
Saved/
DerivedDataCache/
*.pdb
*.obj
*.o
*.ilk

# Python & Machine Learning
Resources/MLScripts/venv/
Resources/MLScripts/__pycache__/
Resources/MLScripts/*.bin
Resources/MLScripts/*.json
*.pyc
*.pyo
.venv/
